@tailwind base;
@tailwind components;
@tailwind utilities;

/* Don't responsive design */
.width-limit {
    display: none;
}

.cart-section,
.checkout-section {
    min-height: calc(100vh - 336px);
}

@media screen and (max-width: 1050px) {
    .width-limit {
        display: block;
    }
    main,
    footer,
    header {
        display: none !important;
    }
}
